# Игнорировать все Excel-файлы
*.xlsx
~$*.xlsx

# Игнорировать временные/автосохранённые файлы Jupyter
.ipynb_checkpoints/

# Игнорировать системные файлы macOS
.DS_Store

# Игнорировать Python служебные каталоги
__pycache__/
#виртуальное окружение
venv/